<h1 style="text-align: center;color:darkgrey;">Superhero Detail</h1>

<section style="text-align: center; color: blue;">
    <h3 >NAME: <%= heroInfo.name %></h3>
    <p>POWERLEVEL: <%= heroInfo.powerlevel  %></p>
    <p>CATEGORY: <%= heroInfo.category  %></p>
    <a href="/superheros">Back To All Heros Page</a><br>
    <br>
    <a href="/superheros/<%= heroInfo._id %>/edit ">Edit Hero</a><br> <br>
    <form action="/superheros/<%=heroInfo._id%>?_method=DELETE" method="POST">
        <button>Delete Hero</button>
    </form>
</section>